.fondo_luchon .box:before {
    background-image: url("../assets/images/fondo_videos/luchona1.jpeg");
  }

.fondo_luchon_independiente .box:before {
    background-image: url("../assets/images/fondo_videos/luchona2.jpeg");
  }

.banner_masacre_bananeras {
    background-image: url("../assets//images/luchas_banner/masacre_bananeras.jpeg");
  }
.banner_primero_mayo {
    background-image: url("../assets//images/luchas_banner/primero_mayo.jpeg");
  }
.banner_paro_77 {
    background-image: url("../assets//images/luchas_banner/paro_77.jpeg");
  }
.banner_asotraindupalma {
    background-image: url("../assets//images/luchas_banner/huelga_asotraindupalma.jpeg");
  }
.banner_masacre_santabarbara {
    background-image: url("../assets//images/luchas_banner/masacre_santa_barbara.jpeg");
  }
.banner_huelga_avianca {
    background-image: url("../assets//images/luchas_banner/huelga_avianca.jpeg");
  }
.banner_sindicalismo {
    background-image: url("../assets//images/luchas_banner/sindicalismo.jpeg");
  }